VITE_XTREAM_URL=http://your-provider.com:8080
VITE_XTREAM_USER=your_username
VITE_XTREAM_PASS=your_password

# Provider URL boş bırakıldığında otomatik denenecek sunucu listesi buradan gelir
VITE_SUPABASE_URL=https://sehrnvcgpepvcjdrlbyr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlaHJudmNncGVwdmNqZHJsYnlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5MDI1ODIsImV4cCI6MjEwMzQ3ODU4Mn0.Z3ngauwIGNZBpg7bMlixHe9mw66csNL7wap-1dawng4
